<div class="card mb-0 content animate__animated animate__fadeIn animate__fast">
  <div class="card-header">
    <button aria-hidden="true" class=" close btn-outline-danger btn-lg btn-danger" (click)="cerrarModal()"
      type="button">
      <i class=" tim-icons icon-simple-remove"></i>
    </button>
    <h6 class="card-title text-center">Subir imagen del voucher cancelado para la renta
      {{input_renta.fechaFinRenta | date:'fullDate'}}</h6>
  </div>
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="col-12 mb-4">
        <dl class="row justify-content-center">
          <dt class="col-sm-8" [ngClass]="{'text-white':input_renta.estado!=2, 'text-danger':input_renta.estado==2}">Importe Total (Incluido retraso si hay)</dt>
          <dd class="col-sm-4">
            <div *ngIf="input_renta.estado==2; else importaTotalNoAtrasado">
              <p>S./{{ input_renta.cantidad + input_renta.importeAtrasado}}</p>
            </div>
            <ng-template #importaTotalNoAtrasado>
              <p>S./{{ input_renta.cantidad}}</p>
            </ng-template>
          </dd>
          <dt class="col-sm-8" [ngClass]="{'text-white':input_renta.estado!=2, 'text-danger':input_renta.estado==2}">Importe restante (Incluido retraso si hay)</dt>
          <dd class="col-sm-4">
            <div *ngIf="input_renta.estado==2; else noAtrasado">
              <p>S./{{ input_renta.cantidad + input_renta.importeAtrasado  - input_renta.montoAcumuladoCancelado }}</p>
            </div>
            <ng-template #noAtrasado>
              <p>S./{{ input_renta.cantidad - input_renta.montoAcumuladoCancelado }}</p>
            </ng-template>
          </dd>
          <dt class="col-sm-8 text-danger" *ngIf="input_renta.estado==2">Tasa de Recargo por atraso</dt>
          <dd class="col-sm-4" *ngIf="input_renta.estado==2">
            <p>S./{{input_renta.importeAtrasado}}</p>
          </dd>
        </dl>
      </div>
      <div class="fileinput text-center">
        <input type="file" (change)="handleImageChange($event)" #fileInput accept="image/x-png,image/jpg,image/jpeg" />
        <div class="thumbnail" [ngClass]="{ 'img-circle': avatar }">
          <img src="{{ imagePreviewUrl }}" alt="..." />
        </div>
        <div>
          <button *ngIf="file === null && avatar" class="btn-round btn btn-danger" (click)="handleClick()">
            Agregar Foto
          </button>
          <button *ngIf="file === null && !avatar" class="btn-round btn btn-danger" (click)="handleClick()">
            Seleccionar Imagen voucher
          </button>
          <span *ngIf="file !== null">
            <button class="btn-round btn btn-danger" (click)="handleClick()">
              Cambiar
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer mt-0">
    <div class="row p-3">
      <button type="button" class="btn btn-danger btn-round  btn-lg btn-block" (click)="subirImagen()"
        [disabled]="file==null">Registrar Pago</button>
    </div>
  </div>
</div>