<div class="card mb-0">
    <div class="card-header">
        <button aria-hidden="true" class=" close btn-outline-danger btn-lg btn-danger" (click)="cerrarModal()"
            type="button">
            <i class=" tim-icons icon-simple-remove"></i>
        </button>
        <h6 class="card-title text-center">Subir Imagen</h6>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="fileinput text-center">
                <input type="file" (change)="handleImageChange($event)" #fileInput accept="image/x-png,image/jpg,image/jpeg" />
                <div class="thumbnail" [ngClass]="{ 'img-circle': avatar }">
                  <img src="{{ imagePreviewUrl }}" alt="..." />
                </div>
                <div>
                  <button *ngIf="file === null && avatar" class="btn-round btn btn-danger" (click)="handleClick()">
                    Agregar Foto
                  </button>
                  <button *ngIf="file === null && !avatar" class="btn-round btn btn-primary" (click)="handleClick()">
                    Seleccionar Imagen
                  </button>
                  <span *ngIf="file !== null">
                    <button class="btn-round btn btn-primary" (click)="handleClick()">
                      Cambiar
                    </button>
                    <br *ngIf="avatar" />
                    <button class="btn-round btn btn-danger" (click)="handleRemove()">
                      <i class="fa fa-times"></i> Remover
                    </button>
                  </span>
                </div>
              </div>
        </div>
    </div>
    <div class="card-footer mt-0">
        <div class="row p-3">
            <button type="button" class="btn btn-primary  btn-lg btn-block"
                (click)="subirImagen()" [disabled]="file==null">Subir Imagen</button>
        </div>
    </div>
</div>