<div class="card">
    <div class="card-header pl-3 pr-3">
        <div class="card-title">
            <h3 class="text-center">Buscar Direccion</h3>
            <input class="form-control" ngx-google-places-autocomplete [options]='optionsSearch' #placesRef="ngx-places"
                (onAddressChange)="handleAddressChange($event)" />
        </div>
    </div>
    <div class="card-body">
        <div class=" mt-5 ml-3 mr-3">
            <google-map height="600px" width="100%" [zoom]="zoom" [center]="center" [options]="options">
                <map-marker *ngIf="marker!=null" #markerElem [position]="marker.position" [icon]="marker.icon" [label]="marker.label" 
                [options]="marker.options"
                    (mapClick)="openInfo(markerElem, marker.info)">
                </map-marker>
                <map-info-window>
                    <div class="row justify-content-start">
                       <div class="col-12">
                        <blockquote class="blockquote text-center">
                            <p class="mb-0 text-dark">{{ infoContent.dir }}</p>
                            <footer class="blockquote-footer text-dark"><a href="{{infoContent.url}}" target="_blank">Ver en google maps</a></footer>
                            <div class="form-group">
                                <button class="btn btn-danger" (click)="confirmarDir()">Confirmar</button>
                            </div>
                          </blockquote>
                       </div>
                    </div>
                </map-info-window>
            </google-map>
        </div>
    </div>
</div>