<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/ciudad.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <div class="angular-logo animate__animated animate__fadeIn animate__slower animate__delay-1s">
            <img src="assets/img/logo-alquiler.jpg" alt="">
          </div>
          <h1 class="presentation-title animate__animated animate__fadeInLeftBig animate__fast">RentaMe</h1>
          <div class="fog-low">
            <img src="assets/img/fog-low.png" alt="">
          </div>
          <div class="fog-low right">
            <img src="assets/img/fog-low.png" alt="">
          </div>
        </div>

        <h2
          class="presentation-subtitle text-center animate__animated animate__fadeInUp animate__slower animate__delay-1s">
          Sistema de alquileres para arrenderos y arrendatarios</h2>
      </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
  </div>
</div>
<div class="full-page">
  <div class=" content">
    <div class="row ml-4 mr-4">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h1 class="card-title">
              <p class="text-center">Busca y Solicita Alquileres de viviendas</p>
            </h1>
          </div>
          <div class="card-body">
            <div class="col-10 offset-1">
              <owl-carousel-o [options]="customOptions" #owlCat>
                <ng-container *ngFor="let image of imagesData">
                  <ng-template carouselSlide>
                    <div class="pl-4">
                      <div class="slide">
                        <img [src]="image.src" [alt]="image.alt" [title]="image.title">
                      </div>
                      <div class="slider pt-3">
                        <p class="text-center">{{image.text}}</p>
                      </div>
                    </div>
                  </ng-template>
                </ng-container>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>