<div class="card mb-0">
    <div class="card-header">
        <button aria-hidden="true" class=" close btn-outline-danger btn-lg btn-danger" (click)="cerrarModal()"
            type="button">
            <i class=" tim-icons icon-simple-remove"></i>
        </button>
        <h6 class="card-title text-center">Recibo de la fecha {{input_pago.renta.fechaRenta | date:'fullDate'}} </h6>
    </div>
    <div class="card-body">
        <div class="col-12 mb-4">
            <dl class="row justify-content-center">
                <dt class="col-sm-8 text-warning">Monto a pagar</dt>
                <dd class="col-sm-4">
                    <div *ngIf="input_pago.renta.estado==2; else noAtrasado">
                        <p>S./{{ input_pago.renta.cantidad + input_pago.renta.importeAtrasado}}</p>
                    </div>
                    <ng-template #noAtrasado>
                        <p>S./{{ input_pago.renta.cantidad}}</p>
                    </ng-template>
                </dd>
                <dt class="col-sm-8 text-warning">Monto restante</dt>
                <dd class="col-sm-4">
                    <div *ngIf="input_pago.renta.estado==2; else noAtrasadoRestante">
                        <p>S./{{ input_pago.renta.cantidad + input_pago.renta.importeAtrasado - input_pago.renta.montoAcumuladoCancelado }}</p>
                    </div>
                    <ng-template #noAtrasadoRestante>
                        <p>S./{{ input_pago.renta.cantidad - input_pago.renta.montoAcumuladoCancelado }}</p>
                    </ng-template>
                </dd>
            </dl>
            <label> Monto indicado en el voucher</label>
            <div class="form-group">
                <input class="form-control" type="number" placeholder="S/." [(ngModel)]="monto" />
            </div>
        </div>
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="card" style="width: 22rem;">
                    <img class="card-img-top" [ngClass]="{'zoom-in zoom-minus':disminuir, 'zoom-out zoom-plus':!disminuir}" [src]="imgURL" alt="boleta" height="380" 
                    (click)="disminuir = !disminuir;">
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row justify-content-center">
            <button type="button" class="btn btn-success" [disabled]="monto==0" (click)="confirmar()">Confirmar Pago</button>
            <button type="button" class="btn btn-danger" (click)="rechazar()">Rechazar</button>
        </div>
    </div>
</div>