<div class=" content animate__animated animate__fadeIn animate__fast">
    <div class="col-md-8 ml-auto mr-auto">
        <h2 class=" text-center">Solicitudes de arrendamiento</h2>
    </div>
    <div class="row mt-5">
        <div class=" col-md-12">
            <div class="card">
                <div class=" card-body">
                    <div class=" toolbar">
                        <div class="dataTables_wrapper py-4 pl-lg-5 pr-lg-5">
                            <div class="row mb-3">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_length" id="datatable_length">
                                        <label> Mostrar
                                            <select name="datatable_length" aria-controls="datatable"
                                                class="form-control form-control-sm" (change)="entriesChange($event)">
                                                <option value="5" [selected]="entries == 5">5</option>
                                                <option value="10" [selected]="entries == 10">10</option>
                                                <option value="25" [selected]="entries == 25">25</option>
                                                <option value="50" [selected]="entries == 50">50</option>
                                                <option value="-1" [selected]="entries == -1">All</option>
                                            </select> registros
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <ngx-datatable id="print-section" class="bootstrap  selection-cell" [columnMode]="'force'"
                                [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                                [limit]="entries != -1 ? entries : undefined" [rows]="temp" [scrollbarH]="true"
                                [virtualization]="false">

                                <ngx-datatable-column>
                                    <ng-template ngx-datatable-header-template>
                                        <span>Fecha</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.fechaSolicitud | date:'fullDate'}}
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column>
                                    <ng-template ngx-datatable-header-template>
                                        <span>Propiedad</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.propiedad.alias}}
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column>
                                    <ng-template ngx-datatable-header-template>
                                        <span>DNI</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.arrendatario.usuario.dni}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column>
                                    <ng-template ngx-datatable-header-template>
                                        <span>Solicitante</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.arrendatario.usuario.apellidos + ' ' + row.arrendatario.usuario.nombres}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column>
                                    <ng-template ngx-datatable-header-template>
                                        <span>Estado</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.estado==1?'Esperando Confirmacion':row.estado==2?'Por aceptar':'Cancelado'}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column>
                                    <ng-template ngx-datatable-header-template>
                                        <span>Ver Detalles</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <div class="row justify-content-center" *ngIf="row.estado==2">
                                            <i class="mdi mdi-account-search" id="edital" (click)="verDetalles(row)"
                                            aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column [resizeable]="false" [draggable]="false" [canAutoResize]="false">
                                    <ng-template ngx-datatable-header-template>
                                        <span>Aceptar</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <div class="row justify-content-center" *ngIf="row.estado==2">
                                            <i class="mdi mdi-account-check" id="aceptal" (click)="aceptarSolicitud(row)"
                                            aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column [resizeable]="false" [draggable]="false" [canAutoResize]="false">
                                    <ng-template ngx-datatable-header-template>
                                        <span>Rechazar</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <div class="row justify-content-center" *ngIf="row.estado==2">
                                            <i class="mdi mdi-account-minus" id="rechazal" (click)="rechazarSolicitud(row)"
                                            aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>