<div class="full-page register-page">
    <div class=" content">
      <div class=" container">
        <div class=" row">
          <div class=" col-md-5 ml-auto">
            <perfect-scrollbar style="max-width: 800px; max-height: 400px;" [config]="config">
              <div class=" info-area info-horizontal p-2">
                <div class=" icon icon-warning">
                  <i class="mdi mdi-home-modern"> </i>
                </div>
                <div class=" description">
                  <h3 class=" info-title">Registra tus viviendas para alquiler</h3>
                  <p class=" description">
                    Podrás registrar tus viviendas donde 
                    ofreces el servicio de alquiler, para que los distintos clientes puedan visualizarlo 
                    y contactarse con usted sin barreras!
                  </p>
                </div>
              </div>
              <div class=" info-area info-horizontal p-2">
                <div class=" icon icon-primary">
                  <i class=" tim-icons icon-settings-gear-63"> </i>
                </div>
                <div class=" description">
                  <h3 class=" info-title">Modulo propio de gestion de inquilinos</h3>
                  <p class=" description">
                    Podras registrar y gestionar eficientemente tus habitaciones, eliminando  
                    la tarea de control presencial, el sistema te brindara informacion de cada 
                    inquilino, asi como su estado de deudas y dias restantes de renta.
                  </p>
                </div>
              </div>
              <div class=" info-area info-horizontal p-2">
                <div class=" icon icon-info">
                  <i class=" mdi mdi-file-document"> </i>
                </div>
                <div class=" description">
                  <h3 class=" info-title">Facilidad de generar documentos para formalizacion</h3>
                  <p class=" description">
                    Podrás generar facilmente los documentos necesarios para formalizar tu negocio 
                    de alquileres ante la notaria mas cercana a tu localidad.
                  </p>
                </div>
              </div>
            </perfect-scrollbar>
          </div>
          <div class=" col-md-7 mr-auto">
            <div class=" card card-register card-white">
              <div class=" card-header">
                <img alt="Card image" class=" card-img" src="assets/img/card-primary.png" />
  
                <h3 class="card-title pl-4">Registro</h3>
              </div>
              <div class=" card-body">
              </div>
              <div class=" card-footer">
                <a class=" btn btn-primary btn-round btn-lg" href="javascript:void(0)">
                  Enviar
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>