<div class="full-page register-page">
  <div class=" content">
    <div class=" container">
      <div class=" row">
        <div class=" col-md-5 ml-auto">
          <perfect-scrollbar style="max-width: 800px; max-height: 400px;" [config]="config">
            <div class=" info-area info-horizontal mt-5">
              <div class=" icon icon-warning">
                <i class=" mdi mdi-map-marker-radius"> </i>
              </div>
              <div class=" description">
                <h3 class=" info-title">Encuentra Alquileres cerca tuyo</h3>
                <p class=" description">
                  Podras localizar las viviendas mas cercanas disponibles con alquiler y 
                   visualizar sus precios, rentas, condiciones de sus dueños, etc. de una forma 
                   facil y segura 
                </p>
              </div>
            </div>
            <div class=" info-area info-horizontal">
              <div class=" icon icon-primary">
                <i class=" mdi mdi-security"> </i>
              </div>
              <div class=" description">
                <h3 class=" info-title">Control de Usuario</h3>
                <p class=" description">
                  El compromiso es importante, por ello al crear tu cuenta estaras registrado 
                  en el sistema de arrendetarios, junto con tu historial de pagos y opiniones 
                  de los arrenderos sobre tu estadia en sus hogares.
                </p>
              </div>
            </div>
            <div class=" info-area info-horizontal">
              <div class=" icon icon-info">
                <i class=" tim-icons icon-badge"> </i>
              </div>
              <div class=" description">
                <h3 class=" info-title">Estado de renta</h3>
                <p class=" description">
                  Podrás visualizar como vas con tus pagos, en que tiempo esta por vencer 
                  tu estadia, si estas al dia o no, si tienes pagos adelantados y cuanto 
                  pagaste cada mes desde tu estadia en la vivienda que escogeras.
                </p>
              </div>
            </div>
          </perfect-scrollbar>
        </div>
        <div class=" col-md-7 mr-auto">
          <div class=" card card-register card-white">
            <div class=" card-header">
              <img alt="Card image" class=" card-img" src="assets/img/card-info.png" />
              <h3 class="card-title pl-2">Registro</h3>
            </div>
            <div class="card-body">
              <app-card-registro-general></app-card-registro-general>
            </div>
            <div class=" card-footer">
              <a class=" btn btn-info btn-round btn-lg" href="javascript:void(0)">
                Enviar
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>