<div class=" content animate__animated animate__fadeIn animate__fast">
    <div class=" row mt-5 ml-auto mr-auto">
        <div class="card">
            <div class=" card-body">
                <div class="row justify-content-center">
                    <button class="btn btn-primary" (click)="nuevoCondicionPago()">Registrar Condicion Pago</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 ml-auto mr-auto">
        <h2 class=" text-center">Registro de Condiciones de Pago</h2>
    </div>
    <div class="row mt-5">
        <div class=" col-md-12">
            <div class="card">
                <div class=" card-body">
                    <div class=" toolbar">
                        <div class="dataTables_wrapper py-4 pl-lg-5 pr-lg-5">
                            <div class="row mb-3">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_length" id="datatable_length">
                                        <label> Mostrar
                                            <select name="datatable_length" aria-controls="datatable"
                                                class="form-control form-control-sm" (change)="entriesChange($event)">
                                                <option value="5" [selected]="entries == 5">5</option>
                                                <option value="10" [selected]="entries == 10">10</option>
                                                <option value="25" [selected]="entries == 25">25</option>
                                                <option value="50" [selected]="entries == 50">50</option>
                                                <option value="-1" [selected]="entries == -1">All</option>
                                            </select> registros
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <ngx-datatable id="print-section" class="bootstrap  selection-cell" [columnMode]="'force'"
                                [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                                [limit]="entries != -1 ? entries : undefined" [rows]="temp" [scrollbarH]="true"
                                [virtualization]="false">
                                <ngx-datatable-column>
                                    <ng-template ngx-datatable-header-template>
                                        <span>Alias</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.alias}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column>
                                    <ng-template ngx-datatable-header-template>
                                        <span>Precio</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.precio}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column>
                                    <ng-template ngx-datatable-header-template>
                                        <span>Tiempo Min. Contrato</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.tiempoMinContrato}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column>
                                    <ng-template ngx-datatable-header-template>
                                        <span>Dia cobro/mes</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.diaMesCobro}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column>
                                    <ng-template ngx-datatable-header-template>
                                        <span>Tasa Recargo</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.tasaRecargo}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column [resizeable]="false" [draggable]="false" [canAutoResize]="false">
                                    <ng-template ngx-datatable-header-template>
                                        <span>Editar</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <i class="tim-icons icon-pencil"
                                            id="edital" (click)="editarCondicionPago(row)" aria-hidden="true"
                                            style="cursor: pointer; font-size: 25px;"></i>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column [resizeable]="false" [draggable]="false" [canAutoResize]="false">
                                    <ng-template ngx-datatable-header-template>
                                        <span>Eliminar</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <i class="tim-icons icon-trash-simple" id="darbaja"
                                            (click)="eliminarCondicionPago(row)" aria-hidden="true"
                                            style="cursor: pointer; font-size: 25px;"></i>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>